<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
      <div class="p">
    {{>inde}}
    <div class="s">
      <form method="Post" action="/login" >
               <input type="text" placeholder="Email enter" name="email"  />
               <input type= "password" placeholder="password enter" name="password" />
               <input type="submit" id="submit" />
               <p>If ypu have No account{{sii}} <a href="/signup">SignUP here</a></p>
           </form>
           
    </div>
           
           <h3>
            {{#each sii}}
             {{!-- {{#each this}} 
              {{#if email}} --}}
                <p>email is here{{email}} </p>
              {{!-- {{/if}}
              {{/each}} --}}
            {{/each}}
            </h3>
            
        </div>
  
</body>
</html>