<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="na">
        
          <nav>
         <ul>
            <div class="logo">
               <a href="/"> <img src="./image/walnut-in-odia.jpg" alt=""></a>
            </div>
            
                <li><a href="/">Home</a></li>
                 <li><button style="background-color: blue;  fontsize:23px; height:40px; width:150px;"><a href="/login" style="font-size: 33px; text-decoration:none; color:white;">Login</a></button></li>
                 {{!-- {{#if dd}}
                 <li><a href="/post">Post</a></li>
                <li><button style="background-color: blue;  fontsize:23px; height:40px; width:150px;"><a href="/logout" style="font-size: 33px; text-decoration:none; color:white;">Logout</a></button></li>
                {{/if}} --}}
            </ul>
        </nav>
       
        {{!-- {{#if dd}}
                <h3 style="background-color: black;  margin-top:15px; height:40px; width:350px;"><a href="/post" style="font-size: 33px; text-decoration:none; color:white;">Create Post</a></h3>
                {{/if}} --}}
   </div>
</body>
</html>